#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/05dc0679-6e92-46c6-b742-11926f9bf325/ # 
title: onlineshopping
/user:
  post:
    body:
      application/json:
        example: !include Night-Team/usersPost.json
 
    responses:
      201:
        body:
          application/json:
            example:
              {"uid":100}
/products:
  get:
    description: 
    responses:
      200:
        body:
          application/json:
            example: !include Night-Team/ProductGet.json
            
  /{id}:
    uriParameters:
      id:
    get:
      responses:
        200:
          body:
            application/json:
              example: !include Night-Team/productIdGet.json
  
/categories:
  get:
    description: To retrieve the catagories
    responses:
      200:
        body:
          application/json:
            example: !include Night-Team/CategorieGet.json
         
 
  /{id}:
    uriParameters:
      id:
    get:
      responses:
        200:
          body:
            application/json:
              example:
                {
                  "categoryid": 10,
                  "name": "labtop"
                }

/order:
  get:
    responses:
      200:
        body:
          application/json:
            example: !include Night-Team/OrderGet.json
               

  /{id}:
    uriParameters:
      id:
    get:
      responses:
        200:
          body:
            application/json:
              example: !include Night-Team/OrderIdGet.json
              
  post:
    body:
      application/json:
        example: !include Night-Team/orderPost.json
       
    responses:
      201:
        body:
          application/json:
            example: !include Night-Team/OrderPOstResponse.json 
 
